.wrap {
    position: relative;
    height: 100%;
    color: azure;
}

.center {
    width: 100%;
    color: azure;
}

h5 {
    margin: 0;
    color: blue;
}

p {
    margin: 0;
    color: black;
}

#div1 {
    float: left;
    width: 20%;
    margin: 10px;
}

#div2 {
    margin-left: 20%;
    padding-top: 10px;
    width: 80%;
    text-align: center;
}

img {
    height: 4.5rem; width: 4.5rem;
}

table {
    border: 1px dotted black;
}

#div3 {
    text-align: center;
}

#valider {
    width: 200px;
    padding: 5px;
    background: lightgreen;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 8px 0 0 rgba(126, 194, 155, .7),
    0 8px 0 1px rgba(0,0,0,.4),
    0 8px 8px 1px rgba(0,0,0,0.5);
}

#valider:active {
    box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255,255,255,0.15) inset,
    0 0 0 1px rgba(0,0,0,0.4);
}

.buttonTop {
    float: left;
    width: 32%;
    padding: 5px;
    margin-right: 1%;
    background: #7fccde;
    border-radius: 10px;
    border: 0;
    box-shadow:0px 4px 0px whitesmoke;
}
.buttonTop:hover   {background-color: #82D1E3;}

.listEtudiant {
    width: 100%;
    text-align: center;
}

.divButton, .divTable{
    padding: 1%;
}

.btn_etatp_cl{
    padding: 5px;
    width: 70px;
    background: #a8e2f8;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 4px 0px whitesmoke;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

.btn_delet_one{
    color: firebrick;
    font-size: 12px;
    font-weight: bold;
}

.btn_delet_one:hover,
.btn_delet_one:focus {
    /*color: #000;*/
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}


/* ******************************************     POP ******************************************** */
.add_student_pop {
    display: none; /* caher par défaut */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}


/* le contenu du pop */
.add_student_content {
    position: relative;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    background-color: #fefefe;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: slideIn;
    /*-webkit-animation-name: animatetop;*/
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    /*animation-name: animatetop;*/
    animation-duration: 0.4s
}


/* fermer le pop */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pop-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.pop-body {padding: 2px 16px;}

.pop-footer{
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#zone_show, #zone_students_chosen{
    color: #222222;
}

/*Supprimer des contenus dans la zone search*/
#delete_search {
    color: firebrick;
    /*float: right;*/
    font-size: 15px;
    font-weight: bold;
}

#delete_search:hover,
#delete_search:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*!* 添加动画 *!*/
/*@-webkit-keyframes animatetop {*/
/*    from {top:-300px; opacity:0}*/
/*    to {top:0; opacity:1}*/
/*}*/

/*@keyframes animatetop {*/
/*    from {top:-300px; opacity:0}*/
/*    to {top:0; opacity:1}*/
/*}*/



/* ajouter des movements */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}



